<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.github.ywchang"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=royanmobiletesting"/>
        <listEntry value="artifactId=Appium"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=royanmobiletesting"/>
        <listEntry value="outputDirectory=/Users/anuragroy/Desktop/Eclipse_Workplace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/wx/46wtdyws2m32dsw5d0c3tfp40000gn/T/m2e-archetypeGenerator13340561662436617163"/>
</launchConfiguration>
